@use 'element-plus/theme-chalk/el-loading.css';
@use 'element-plus/theme-chalk/el-message.css';
@use 'element-plus/theme-chalk/el-message-box.css';
@use 'sass:math';

$primary-color: #409eff;

:root {
  --el-color-primary: #{$primary-color};
  @each $i in (3, 5, 7, 8, 9) {
    --color-primary-light-#{$i}: #{mix(#FFF, $primary-color, math.percentage(math.div($i, 10)))}
  }

  --layout-icon-size: 24px;
  --layout-icon-color: var(--el-text-color-primary);
  --layout-icon-hover-color: var(--el-color-primary);
  --layout-padding: 16px;
  --layout-header-height: 48px;
  --layout-header-bg: var(--el-bg-color);
  --layout-menu-bg: var(--el-bg-color);
  --layout-main-bg: var(--el-bg-color-page);
  --layout-main-padding: var(--layout-padding);
}

@font-face {
  font-family: iconfont;
  src: url('assets/icon-font/iconfont.woff2?t=1545807318834') format('woff2'),
  url('assets/icon-font/iconfont.woff?t=1545807318834') format('woff'),
  url('assets/icon-font/iconfont.ttf?t=1545807318834') format('truetype'),
  url('assets/icon-font/iconfont.svg?t=1545807318834#iconfont') format('svg');
}

html, body, #app, #app-root-element {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
}

#app {
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
  background-image: none;
  border-left: 1px solid var(--el-border-color);
  border-right: 1px solid var(--el-border-color);
}

.icon-font {
  font-family: iconfont, serif !important;
  font-style: normal;
  font-size: var(--layout-icon-size);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.center-content {
  text-align: center !important;
}

.condition-form {
  .el-select {
    width: 100%;
  }

  .button-group {
    &>.el-form-item__content {
      justify-content: right;
    }
  }
}